<section class="loginRegisterSection">
    <h2>Accedi al tuo account</h2>
    <form class="loginRegisterForm" action="/login/auth" method="POST">
        <input type="hidden" name="redirect_to" value="##REDIRECT_TO##">
        <label for="username">Username:</label>
        <input type="text" name="username" id="username" required>
        <label for="password">Password:</label>
        <input type="password" name="password" id="password" required>
        <button type="submit">Accedi</button>
    </form>
    <p class="erroreLoginRegister">##FLASH_ERROR##</p>
    <p>Non hai un account? <a class="loginRegisterLink" href="##BASE_URL##/register">Registrati</a></p>
</section>