<link rel="stylesheet" href="/css/style.css" />
<section class="dati-profilo">
  <h2>Informazioni Personali</h2>
  <img
    src="img/##username##.jpeg"
    alt="Foto profilo ##username##"
    width="120"
    height="180"
  />
  <dl>
    <dt>Username:</dt>
    <dd>##username##</dd>
  </dl>
</section>
<hr />

<section class="sezione-lista" id="le-tue-playlist">
  <h2>Le tue playlist</h2>
  <div class="bottone" id="crea-playlist">
    <a href="/profilo/##username##/playlist/new"
      ><button>Crea playlist</button></a
    >
  </div>
  ##LISTA_PLAYLIST##
</section>
<hr />

<section class="sezione-lista" id="canzoni-recenti"></section>
