<section class="loginRegisterSection">
    <h2>Registrati per creare un nuovo account</h2>
    <form class="loginRegisterForm" action="/register/save" method="POST">
        <label for="username">Username:</label>
        <input type="text" name="username" id="username" required>
        <label for="password">Password:</label>
        <input type="password" name="password" id="password" required>
        <button type="submit">Crea account</button>
    </form>
    <p class="erroreLoginRegister">##FLASH_ERROR##</p>
    <p>Hai già un account? <a class="loginRegisterLink" href="/login">Accedi</a></p>
</section>