<section class="loginRegisterSection">

    <h1>Registrati per creare un nuovo account</h1>
    <form class="loginRegisterForm" action="##BASE_URL##/register/save" method="POST">
        <input type="hidden" name="redirect_to" value="##REDIRECT_TO##">
        <label for="username">Username:</label>
        <input type="text" name="username" id="username" required>
        <label for="password">Password:</label>
        <input type="password" name="password" id="password" required>
        <button type="submit">Crea account</button>
    </form>
    <p class="erroreLoginRegister">##FLASH_ERROR##</p>
    <p>Hai già un account? <a class="loginRegisterLink" href="##BASE_URL##/login">Accedi</a></p>
</section>