<section class="artista-page">

  <img src="##BASE_URL##/img/artisti/##slug_artista##.webp" class="artist-profile-img" alt="##nome_artista##">

  <h1 ##LANG_ATTR##>##nome_artista##</h1>
  
  <p class="descrizione-artista">Descrizione: ##descrizione_artista##</p>
</section>

<section class="carosello-wrapper">
    <div class="intestazione">
        <h2>Canzoni dell'Artista</h2>
    </div>
    
    <button class="carrbutton prev" aria-label="Scorri indietro">
        <img src="##BASE_URL##/img/icone/carrouselbuttonl.webp" alt="">
    </button>
    
    <button class="carrbutton next" aria-label="Scorri avanti">
        <img src="##BASE_URL##/img/icone/carrouselbuttonr.webp" alt="">
    </button>

    <ul class="carosello-scroll" aria-label="Lista canzoni in evidenza">
      ##LISTA_CANZONI##
    </ul>
</section>