<section class="artista-page">
  <img src="/img/artisti/##slug_artista##.jpeg" width="200" alt="##nome_artista##" />
  <h1 ##LANG_ATTR##>##nome_artista##</h1>
  <p class="descrizione-artista">Descrizione: ##descrizione_artista##</p>
</section>

  
  <section class="carosello-wrapper">
    <div class="intestazione">
            <h2>Canzoni dell'Artista</h2>
      </div>
    <button class="carrbutton prev">
            <img src="/img/icone/carrouselbuttonl.png" alt="scroll to left" />
        </button>
        <button class="carrbutton next">
            <img src="/img/icone/carrouselbuttonr.png" alt="scroll to right" />
        </button>
    <ul class="carosello-scroll" aria-label="Lista canzoni in evidenza">
      ##LISTA_CANZONI##
    </ul>
</section>