<section>
      <main>
        <section class="barraricerca">
          <form
            action="./ricercaeffettuata.html"
            aria-placeholder="cerca una canzone o artisti..."
            method="post"
          >
            <input type="text" name="ricerca" />
            <input type="submit" value="Cerca" />
          </form>
        </section>
        <section id="piusuonate">
          <div id="headersuonante">
            <h2>Canzoni più suonate</h2>
            <button id="open-songs" class="btn-link">
              Mostra tutte le canzoni
            </button>
          </div>
          <div class="carousel-wrapper">
            <button class="carrbutton" id="carrbuttonl">
              <img
                src="https://raw.githubusercontent.com/aldobettega-unipd/Progetto_tec_web/f0edafd949556c6d73c2a7442c9a042fcfbc56d0/src/frontend/assets/carrouselbuttonl.png"
                alt=""
              />
            </button>
            <button class="carrbutton" id="carrbuttonr">
              <img
                src="https://raw.githubusercontent.com/aldobettega-unipd/Progetto_tec_web/f0edafd949556c6d73c2a7442c9a042fcfbc56d0/src/frontend/assets/carrouselbuttonr.png"
                alt="scroll to right"
              />
            </button>

            <div class="scroller">
              <div class="spotify-card" tabindex="0">
                <img
                  src="https://raw.githubusercontent.com/aldobettega-unipd/Progetto_tec_web/f0edafd949556c6d73c2a7442c9a042fcfbc56d0/src/frontend/assets/stairway.jpg"
                  alt=""
                  class="canzone-image"
                />
                <div class="card-text">
                  <h4 class="song-title">Stairway to Heaven</h4>
                  <p class="artist-name">Led Zeppelin</p>
                </div>
              </div>

              <div class="spotify-card" tabindex="0">
                <img
                  src="https://raw.githubusercontent.com/aldobettega-unipd/Progetto_tec_web/f0edafd949556c6d73c2a7442c9a042fcfbc56d0/src/frontend/assets/useyourilusion2.jpg"
                  alt=""
                  class="canzone-image"
                />
                <div class="card-text">
                  <h4 class="song-title">Knockin' On Heaven's Door</h4>
                  <p class="artist-name">Guns N' Roses</p>
                </div>
              </div>
              <div class="spotify-card" tabindex="0">
                <img
                  src="https://raw.githubusercontent.com/aldobettega-unipd/Progetto_tec_web/f0edafd949556c6d73c2a7442c9a042fcfbc56d0/src/frontend/assets/otherside-red-hot.jpg"
                  alt=""
                  class="canzone-image"
                />
                <div class="card-text">
                  <h4 class="song-title">Otherside</h4>
                  <p class="artist-name">Red Hot Chili Peppers</p>
                </div>
              </div>
              <div class="spotify-card" tabindex="0">
                <img
                  src="https://raw.githubusercontent.com/aldobettega-unipd/Progetto_tec_web/f0edafd949556c6d73c2a7442c9a042fcfbc56d0/src/frontend/assets/otherside-red-hot.jpg"
                  alt=""
                  class="canzone-image"
                />
                <div class="card-text">
                  <h4 class="song-title">Otherside</h4>
                  <p class="artist-name">Red Hot Chili Peppers</p>
                </div>
              </div>
              <div class="spotify-card" tabindex="0">
                <img
                  src="https://raw.githubusercontent.com/aldobettega-unipd/Progetto_tec_web/f0edafd949556c6d73c2a7442c9a042fcfbc56d0/src/frontend/assets/otherside-red-hot.jpg"
                  alt=""
                  class="canzone-image"
                />
                <div class="card-text">
                  <h4 class="song-title">Otherside</h4>
                  <p class="artist-name">Red Hot Chili Peppers</p>
                </div>
              </div>
              <div class="spotify-card" tabindex="0">
                <img
                  src="https://raw.githubusercontent.com/aldobettega-unipd/Progetto_tec_web/f0edafd949556c6d73c2a7442c9a042fcfbc56d0/src/frontend/assets/otherside-red-hot.jpg"
                  alt=""
                  class="canzone-image"
                />
                <div class="card-text">
                  <h4 class="song-title">Otherside</h4>
                  <p class="artist-name">Red Hot Chili Peppers</p>
                </div>
              </div>
              <div class="spotify-card" tabindex="0">
                <img
                  src="https://raw.githubusercontent.com/aldobettega-unipd/Progetto_tec_web/f0edafd949556c6d73c2a7442c9a042fcfbc56d0/src/frontend/assets/otherside-red-hot.jpg"
                  alt=""
                  class="canzone-image"
                />
                <div class="card-text">
                  <h4 class="song-title">Otherside</h4>
                  <p class="artist-name">Red Hot Chili Peppers</p>
                </div>
              </div>
              <div class="spotify-card" tabindex="0">
                <img
                  src="https://raw.githubusercontent.com/aldobettega-unipd/Progetto_tec_web/f0edafd949556c6d73c2a7442c9a042fcfbc56d0/src/frontend/assets/otherside-red-hot.jpg"
                  alt=""
                  class="canzone-image"
                />
                <div class="card-text">
                  <h4 class="song-title">Otherside</h4>
                  <p class="artist-name">Red Hot Chili Peppers</p>
                </div>
              </div>
              <div class="spotify-card" tabindex="0">
                <img
                  src="https://raw.githubusercontent.com/aldobettega-unipd/Progetto_tec_web/f0edafd949556c6d73c2a7442c9a042fcfbc56d0/src/frontend/assets/otherside-red-hot.jpg"
                  alt=""
                  class="canzone-image"
                />
                <div class="card-text">
                  <h4 class="song-title">Otherside</h4>
                  <p class="artist-name">Red Hot Chili Peppers</p>
                </div>
              </div>
            </div>
          </div>
        </section>

        <div class="separator"></div>
        <section id="piufamosi">
          <div id="headerfamosi">
            <button id="open-artists" class="btn-link">
              Mostra tutti gli artisti
            </button>
            <h2>Artisti piu famosi</h2>
          </div>
          <div class="carousel-wrapper">
            <button class="carrbutton" id="carrbuttonl">
              <img
                src="https://raw.githubusercontent.com/aldobettega-unipd/Progetto_tec_web/f0edafd949556c6d73c2a7442c9a042fcfbc56d0/src/frontend/assets/carrouselbuttonl.png"
                alt="scroll to left"
              />
            </button>
            <button class="carrbutton" id="carrbuttonr">
              <img
                src="https://raw.githubusercontent.com/aldobettega-unipd/Progetto_tec_web/f0edafd949556c6d73c2a7442c9a042fcfbc56d0/src/frontend/assets/carrouselbuttonr.png"
                alt="scroll to right"
              />
            </button>

            <div class="scroller">
              <div class="spotify-card" tabindex="0">
                <img
                  src="https://raw.githubusercontent.com/aldobettega-unipd/Progetto_tec_web/f0edafd949556c6d73c2a7442c9a042fcfbc56d0/src/frontend/assets/gunslogo.jpg"
                  alt=""
                  class="artist-image"
                />
                <div class="card-text">
                  <h4 class="song-title">Guns N' Roses</h4>
                </div>
              </div>

              <div class="spotify-card" tabindex="0">
                <img
                  src="https://raw.githubusercontent.com/aldobettega-unipd/Progetto_tec_web/f0edafd949556c6d73c2a7442c9a042fcfbc56d0/src/frontend/assets/oasislogo.jpg"
                  alt=""
                  class="artist-image"
                />
                <div class="card-text">
                  <h4 class="song-title">Oasis</h4>
                </div>
              </div>
              <div class="spotify-card" tabindex="0">
                <img
                  src="https://raw.githubusercontent.com/aldobettega-unipd/Progetto_tec_web/f0edafd949556c6d73c2a7442c9a042fcfbc56d0/src/frontend/assets/redhotlogo.jpg"
                  alt=""
                  class="artist-image"
                />
                <div class="card-text">
                  <h4 class="song-title">Red Hot Chili Peppers</h4>
                </div>
              </div>
              <div class="spotify-card" tabindex="0">
                <img
                  src="https://raw.githubusercontent.com/aldobettega-unipd/Progetto_tec_web/f0edafd949556c6d73c2a7442c9a042fcfbc56d0/src/frontend/assets/redhotlogo.jpg"
                  alt=""
                  class="artist-image"
                />
                <div class="card-text">
                  <h4 class="song-title">Red Hot Chili Peppers</h4>
                </div>
              </div>
              <div class="spotify-card" tabindex="0">
                <img
                  src="https://raw.githubusercontent.com/aldobettega-unipd/Progetto_tec_web/f0edafd949556c6d73c2a7442c9a042fcfbc56d0/src/frontend/assets/redhotlogo.jpg"
                  alt=""
                  class="artist-image"
                />
                <div class="card-text">
                  <h4 class="song-title">Red Hot Chili Peppers</h4>
                </div>
              </div>
              <div class="spotify-card" tabindex="0">
                <img
                  src="https://raw.githubusercontent.com/aldobettega-unipd/Progetto_tec_web/f0edafd949556c6d73c2a7442c9a042fcfbc56d0/src/frontend/assets/redhotlogo.jpg"
                  alt=""
                  class="artist-image"
                />
                <div class="card-text">
                  <h4 class="song-title">Red Hot Chili Peppers</h4>
                </div>
              </div>
              <div class="spotify-card" tabindex="0">
                <img
                  src="https://raw.githubusercontent.com/aldobettega-unipd/Progetto_tec_web/f0edafd949556c6d73c2a7442c9a042fcfbc56d0/src/frontend/assets/redhotlogo.jpg"
                  alt=""
                  class="artist-image"
                />
                <div class="card-text">
                  <h4 class="song-title">Red Hot Chili Peppers</h4>
                </div>
              </div>
              <div class="spotify-card" tabindex="0">
                <img
                  src="https://raw.githubusercontent.com/aldobettega-unipd/Progetto_tec_web/f0edafd949556c6d73c2a7442c9a042fcfbc56d0/src/frontend/assets/redhotlogo.jpg"
                  alt=""
                  class="artist-image"
                />
                <div class="card-text">
                  <h4 class="song-title">Red Hot Chili Peppers</h4>
                </div>
              </div>
              <div class="spotify-card" tabindex="0">
                <img
                  src="https://raw.githubusercontent.com/aldobettega-unipd/Progetto_tec_web/f0edafd949556c6d73c2a7442c9a042fcfbc56d0/src/frontend/assets/redhotlogo.jpg"
                  alt=""
                  class="artist-image"
                />
                <div class="card-text">
                  <h4 class="song-title">Red Hot Chili Peppers</h4>
                </div>
              </div>
            </div>
          </div>
        </section>
        <div class="separator"></div>

        <section id="potrebbepiacerti">
          <h2>Potrebbe piacerti</h2>
          <div id="deviregistrarti">
            <p>Accedi per visualizzare contenuti dedicati a te</p>
          </div>
        </section>

        <dialog id="song-modal" class="modal">
          <div class="modal-content">
            <div class="modal-header">
              <h2>Tutte le canzoni</h2>
              <span class="close-modal">&times;</span>
            </div>
            <div class="modal-body">
              <div class="spotify-card" tabindex="0">
                <img
                  src="https://raw.githubusercontent.com/aldobettega-unipd/Progetto_tec_web/f0edafd949556c6d73c2a7442c9a042fcfbc56d0/src/frontend/assets/stairway.jpg"
                  alt=""
                  class="card-image"
                />
                <div class="card-text">
                  <h4 class="song-title">Stairway to Heaven</h4>
                  <p class="artist-name">Led Zeppelin</p>
                </div>
              </div>

              <div class="spotify-card" tabindex="0">
                <img
                  src="https://raw.githubusercontent.com/aldobettega-unipd/Progetto_tec_web/f0edafd949556c6d73c2a7442c9a042fcfbc56d0/src/frontend/assets/useyourilusion2.jpg"
                  alt=""
                  class="card-image"
                />
                <div class="card-text">
                  <h4 class="song-title">Knockin' On Heaven's Door</h4>
                  <p class="artist-name">Guns N' Roses</p>
                </div>
              </div>
              <div class="spotify-card" tabindex="0">
                <img
                  src="https://raw.githubusercontent.com/aldobettega-unipd/Progetto_tec_web/f0edafd949556c6d73c2a7442c9a042fcfbc56d0/src/frontend/assets/otherside-red-hot.jpg"
                  alt=""
                  class="card-image"
                />
                <div class="card-text">
                  <h4 class="song-title">Otherside</h4>
                  <p class="artist-name">Red Hot Chili Peppers</p>
                </div>
              </div>
              <div class="spotify-card" tabindex="0">
                <img
                  src="https://raw.githubusercontent.com/aldobettega-unipd/Progetto_tec_web/f0edafd949556c6d73c2a7442c9a042fcfbc56d0/src/frontend/assets/otherside-red-hot.jpg"
                  alt=""
                  class="card-image"
                />
                <div class="card-text">
                  <h4 class="song-title">Otherside</h4>
                  <p class="artist-name">Red Hot Chili Peppers</p>
                </div>
              </div>
              <div class="spotify-card" tabindex="0">
                <img
                  src="https://raw.githubusercontent.com/aldobettega-unipd/Progetto_tec_web/f0edafd949556c6d73c2a7442c9a042fcfbc56d0/src/frontend/assets/otherside-red-hot.jpg"
                  alt=""
                  class="card-image"
                />
                <div class="card-text">
                  <h4 class="song-title">Otherside</h4>
                  <p class="artist-name">Red Hot Chili Peppers</p>
                </div>
              </div>
              <div class="spotify-card" tabindex="0">
                <img
                  src="https://raw.githubusercontent.com/aldobettega-unipd/Progetto_tec_web/f0edafd949556c6d73c2a7442c9a042fcfbc56d0/src/frontend/assets/otherside-red-hot.jpg"
                  alt=""
                  class="card-image"
                />
                <div class="card-text">
                  <h4 class="song-title">Otherside</h4>
                  <p class="artist-name">Red Hot Chili Peppers</p>
                </div>
              </div>
              <div class="spotify-card" tabindex="0">
                <img
                  src="https://raw.githubusercontent.com/aldobettega-unipd/Progetto_tec_web/f0edafd949556c6d73c2a7442c9a042fcfbc56d0/src/frontend/assets/otherside-red-hot.jpg"
                  alt=""
                  class="card-image"
                />
                <div class="card-text">
                  <h4 class="song-title">Otherside</h4>
                  <p class="artist-name">Red Hot Chili Peppers</p>
                </div>
              </div>
              <div class="spotify-card" tabindex="0">
                <img
                  src="https://raw.githubusercontent.com/aldobettega-unipd/Progetto_tec_web/f0edafd949556c6d73c2a7442c9a042fcfbc56d0/src/frontend/assets/otherside-red-hot.jpg"
                  alt=""
                  class="card-image"
                />
                <div class="card-text">
                  <h4 class="song-title">Otherside</h4>
                  <p class="artist-name">Red Hot Chili Peppers</p>
                </div>
              </div>
              <div class="spotify-card" tabindex="0">
                <img
                  src="https://raw.githubusercontent.com/aldobettega-unipd/Progetto_tec_web/f0edafd949556c6d73c2a7442c9a042fcfbc56d0/src/frontend/assets/otherside-red-hot.jpg"
                  alt=""
                  class="card-image"
                />
                <div class="card-text">
                  <h4 class="song-title">Otherside</h4>
                  <p class="artist-name">Red Hot Chili Peppers</p>
                </div>
              </div>
              <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
            </div>
          </div>
        </dialog>

        <dialog id="artist-modal" class="modal">
          <div class="modal-content">
            <div class="modal-header">
              <h2>Tutti gli artisti</h2>
              <span class="close-modal">&times;</span>
            </div>
            <div class="modal-body">
              <div class="spotify-card" tabindex="0">
                <img
                  src="https://raw.githubusercontent.com/aldobettega-unipd/Progetto_tec_web/f0edafd949556c6d73c2a7442c9a042fcfbc56d0/src/frontend/assets/gunslogo.jpg"
                  alt=""
                  class="artist-image"
                />
                <div class="card-text">
                  <h4 class="song-title">Guns N' Roses</h4>
                </div>
              </div>

              <div class="spotify-card" tabindex="0">
                <img
                  src="https://raw.githubusercontent.com/aldobettega-unipd/Progetto_tec_web/f0edafd949556c6d73c2a7442c9a042fcfbc56d0/src/frontend/assets/oasislogo.jpg"
                  alt=""
                  class="artist-image"
                />
                <div class="card-text">
                  <h4 class="song-title">Oasis</h4>
                </div>
              </div>
              <div class="spotify-card" tabindex="0">
                <img
                  src="https://raw.githubusercontent.com/aldobettega-unipd/Progetto_tec_web/f0edafd949556c6d73c2a7442c9a042fcfbc56d0/src/frontend/assets/redhotlogo.jpg"
                  alt=""
                  class="artist-image"
                />
                <div class="card-text">
                  <h4 class="song-title">Red Hot Chili Peppers</h4>
                </div>
              </div>
              <div class="spotify-card" tabindex="0">
                <img
                  src="https://raw.githubusercontent.com/aldobettega-unipd/Progetto_tec_web/f0edafd949556c6d73c2a7442c9a042fcfbc56d0/src/frontend/assets/redhotlogo.jpg"
                  alt=""
                  class="artist-image"
                />
                <div class="card-text">
                  <h4 class="song-title">Red Hot Chili Peppers</h4>
                </div>
              </div>
              <div class="spotify-card" tabindex="0">
                <img
                  src="https://raw.githubusercontent.com/aldobettega-unipd/Progetto_tec_web/f0edafd949556c6d73c2a7442c9a042fcfbc56d0/src/frontend/assets/redhotlogo.jpg"
                  alt=""
                  class="artist-image"
                />
                <div class="card-text">
                  <h4 class="song-title">Red Hot Chili Peppers</h4>
                </div>
              </div>
              <div class="spotify-card" tabindex="0">
                <img
                  src="https://raw.githubusercontent.com/aldobettega-unipd/Progetto_tec_web/f0edafd949556c6d73c2a7442c9a042fcfbc56d0/src/frontend/assets/redhotlogo.jpg"
                  alt=""
                  class="artist-image"
                />
                <div class="card-text">
                  <h4 class="song-title">Red Hot Chili Peppers</h4>
                </div>
              </div>
              <div class="spotify-card" tabindex="0">
                <img
                  src="https://raw.githubusercontent.com/aldobettega-unipd/Progetto_tec_web/f0edafd949556c6d73c2a7442c9a042fcfbc56d0/src/frontend/assets/redhotlogo.jpg"
                  alt=""
                  class="artist-image"
                />
                <div class="card-text">
                  <h4 class="song-title">Red Hot Chili Peppers</h4>
                </div>
              </div>
              <div class="spotify-card" tabindex="0">
                <img
                  src="https://raw.githubusercontent.com/aldobettega-unipd/Progetto_tec_web/f0edafd949556c6d73c2a7442c9a042fcfbc56d0/src/frontend/assets/redhotlogo.jpg"
                  alt=""
                  class="artist-image"
                />
                <div class="card-text">
                  <h4 class="song-title">Red Hot Chili Peppers</h4>
                </div>
              </div>
              <div class="spotify-card" tabindex="0">
                <img
                  src="https://raw.githubusercontent.com/aldobettega-unipd/Progetto_tec_web/f0edafd949556c6d73c2a7442c9a042fcfbc56d0/src/frontend/assets/redhotlogo.jpg"
                  alt=""
                  class="artist-image"
                />
                <div class="card-text">
                  <h4 class="song-title">Red Hot Chili Peppers</h4>
                </div>
              </div>
              <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
            </div>
          </div>
        </dialog>
      </main>

      <footer class="footer">
        <p>Sito sviluppato da EasyGuitarTeam</p>
        <br /><br /><br /><br /><br /><br />
      </footer>

      <script>
        const wrappers = document.querySelectorAll(".carousel-wrapper");

        wrappers.forEach((wrapper) => {
          const scroller = wrapper.querySelector(".scroller");
          const btnLeft = wrapper.querySelector(".carrbutton:first-of-type");
          const btnRight = wrapper.querySelector(".carrbutton:last-of-type");

          const scrollAmount = 500;

          if (scroller && btnRight) {
            btnRight.addEventListener("click", () => {
              scroller.scrollBy({ left: scrollAmount, behavior: "smooth" });
            });
          }

          if (scroller && btnLeft) {
            btnLeft.addEventListener("click", () => {
              scroller.scrollBy({ left: -scrollAmount, behavior: "smooth" });
            });
          }
        });

        function setupModal(buttonId, modalId) {
          const btn = document.getElementById(buttonId);
          const modal = document.getElementById(modalId);

          if (!btn || !modal) {
            console.error(
              "Error: No encuentro el botón o el modal",
              buttonId,
              modalId
            );
            return;
          }

          const closeBtn = modal.querySelector(".close-modal");

          btn.addEventListener("click", (e) => {
            e.preventDefault();
            modal.showModal();
          });

          if (closeBtn) {
            closeBtn.addEventListener("click", () => {
              modal.close();
            });
          }

          modal.addEventListener("click", (event) => {
            const rect = modal.getBoundingClientRect();

            if (event.target === modal) {
              modal.close();
            }
          });
        }

        setupModal("open-songs", "song-modal");
        setupModal("open-artists", "artist-modal");
      </script>
    </section>
