<section>
    <section id="ricerca">
        <h1>Cerca la canzone e inizia a suonare</h1>
        <p id="descr">Puoi cercare tra migliaia di canzoni e autori da tutto il mondo</p>
        <div id="barraricerca">
            <form action="Ricerca.php" method="post">
                <input type="text" name="ricerca">
                <input type="submit" value="Cerca">
            </form>
        </div>
    </section>

    <section class="carosello-artisti">
        <h2>Artisti in evidenza</h2>
        <div class="carosello-container">
            [lista_artisti]
        </div>
        <hr>
        <h2>Canzoni in evidenza</h2>
        <div class="carosello-container">
            [lista_canzoni]
        </div>
    </section>

</section>