<section>
    <section id="ricerca">
        <h1>Cerca la canzone e inizia a suonare</h1>
        <p id="descr">Puoi cercare tra migliaia di canzoni e autori da tutto il mondo</p>
        <div id="barraricerca">
            <input id="barracanzone" type="text" placeholder="Cerca canzone o artista...">
            <button id="cercacanzone">Cerca</button>
        </div>
    </section>

    <section class="carosello-artisti">
        <h2>Artisti in evidenza</h2>
        <div class="carosello-container">
            [lista_artisti]
        </div>
        <hr>
        <h2>Canzoni in evidenza</h2>
        <div class="carosello-container">
            [lista_canzoni]
        </div>
    </section>

</section>