    <link rel="stylesheet" href="/css/style.css" />
<h1>Pagina di Test Backend</h1>

<div>
  <h3>1. Test API Ricerca</h3>
  <form action="/api/search/songs" method="GET">
    <label>Cosa cerchi?</label><br />
    <input type="text" name="q" placeholder="es. Albachiara" required />
    <button type="submit">Cerca (Visualizza JSON)</button>
  </form>
</div>

<div>
  <h3>2. Test API Aggiunta Canzone</h3>
  <p>Stai lavorando sulla Playlist ID: <strong>##id_playlist##</strong></p>

  <form action="/api/playlist/add-song" method="POST">
    <label>ID Playlist:</label><br />
    <input type="text" name="playlist_id" value="##id_playlist##" readonly />
    <br /><br />

    <label>ID Canzone da aggiungere (manuale):</label><br />
    <input type="number" name="song_id" placeholder="es. 5" required />
    <br /><br />

    <button type="submit">Aggiungi alla Playlist</button>
  </form>
</div>

<hr />
<a href="/profilo/##username##/playlist/##id_playlist##"
  >Torna alla Playlist reale</a
>
