<div class="search-page-container">
  <header class="search-hero">
    <h1 class="page-title">Esplora il Catalogo</h1>

    <form action="/search" method="GET" class="search-input-wrapper">
      <input type="text" name="query" class="search-bar-large" placeholder="Cerca canzone, artista..."
        value="##SEARCH_VALUE##" autocomplete="off" />
      <input type="hidden" name="tab" id="active-tab-input" value="##TAB_CORRENTE##">
      <button type="submit" class="btn-search-icon">
        <img src="/img/icone/search.png" alt="search" />
      </button>
    </form>

    <nav class="telegram-tabs">
      <a href="/search?query=##SEARCH_VALUE##&tab=canzoni" class="tab-link ##ACTIVE_CANZONI##">
        Canzoni
      </a>

      <a href="/search?query=##SEARCH_VALUE##&tab=artisti" class="tab-link ##ACTIVE_ARTISTI##">
        Artisti
      </a>
    </nav>
  </header>

  <div class="results-container">
    <div class="results-message">##MESSAGGIO_RISULTATI##</div>
    <hr class="separator" />
    <div class="carosello-wrapper">
      <ul class="carosello-scroll" aria-label="Risultati">
        ##LISTA_RISULTATI##
      </ul>
    </div>
  </div>
</div>