<section class="dati-profilo">
    <h2>Informazioni Personali</h2>
    <img src="img/[username].jpeg" alt="Foto profilo [username]" width="120" height="180">
    <dl>
        <dt>Username:</dt>
        <dd>[username]</dd>
    </dl>
</section>
<hr>

<section class="sezione-lista" id="le-tue-playlist">
    <h2>Le tue playlist</h2>
    <div class="bottone" id="crea-playlist">
        <a href="index.php?action=playlist_form"><button>Crea playlist</button></a>
    </div>
    [lista_playlist]
</section>
<hr>

<section class="sezione-lista" id="canzoni-recenti">
</section>