<div class="glass-row admin-list-item">

    <div class="row-info">
        <span class="row-title">##NOME_ARTISTA##</span>
    </div>

    <div class="row-actions">
        <a href="/admin/artisti/edit/##SLUG_ARTISTA##" class="btn-icon-action edit" title="Modifica">
            <img src="/img/icone/pencil-simple.svg" alt="Modifica">
        </a>
        <button class="btn-icon-action delete js-delete-btn" 
                data-type="artista" 
                data-id="##SLUG_ARTISTA##" 
                title="Elimina">
            <img src="/img/icone/delete.svg" alt="Elimina">
        </button>
    </div>
</div>