<div class="glass-row">
    <div class="row-icon">
        <img src="/img/icone/note.png" alt="Canzone" class="icon-img-small"> </div>

    <div class="row-info">
        <span class="row-title">##titolo_canzone##</span>
        <span class="row-subtitle">##autore_canzone##</span>
    </div>

    <div class="row-actions">
        <a href="/admin/canzoni/edit/##id_canzone##" class="btn-icon-action edit" title="Modifica">
            ✏️
        </a>
        <button class="btn-icon-action delete js-delete-song" data-id="##id_canzone##" title="Elimina">
            🗑️
        </button>
    </div>
</div>