<div class="glass-row admin-list-item">
    <div class="row-icon">
        <img src="/img/icone/user.svg" alt="Utente" class="icon-img-small"> 
    </div>

    <div class="row-info">
        <span class="row-title">##USERNAME##</span>
        <span class="row-subtitle">Utente Registrato</span>
    </div>

    <div class="row-actions">
        <button class="btn-icon-action delete js-delete-btn" 
                data-type="utente" 
                data-id="##USERNAME##" 
                title="Elimina Utente">
            <img src="/img/icone/delete.svg" alt="Elimina">
        </button>
    </div>
</div>