<section class="dati-profilo">
    <h2>Informazioni Personali</h2>
    <img src="img/##username##.jpeg" alt="Foto profilo ##username##" width="120" height="180">
    <dl>
        <dt>Username:</dt>
        <dd>##username##</dd>
    </dl>
</section>
<section>
    <h3>Azioni disponibili</h3>
    <a href="/admin/gestione-contenuti"><button>Gestione Contenuti</button></a>
    <a href="/admin/gestione-utenti"><button>Gestione Utenti</button></a>
</section>
<hr>

<section class="sezione-lista" id="canzoni-recenti">
</section>