<section class="profilo-container admin-page-wrapper">
    
    <div class="admin-header-row">
        <div class="header-text">
            <h1>Gestione Contenuti</h1>
            <p>Amministra il catalogo musicale</p>
        </div>
        
        <div class="header-actions">
            <a href="##BASE_URL##/admin/canzoni/new" class="btn-action-pill">
                <span class="icon-plus">+</span> Aggiungi Canzone
            </a>
            <a href="##BASE_URL##/admin/artisti/new" class="btn-action-pill">
                <span class="icon-plus">+</span> Aggiungi Artista
            </a>
        </div>
    </div>

    <hr class="separator-soft">

    <div class="admin-grid">
        
        <div class="admin-column">
            <div class="column-header">
                <h3><img src="##BASE_URL##/img/icone/music-notes.svg" alt="Nota musicale"> Lista Canzoni</h3>
            </div>
            
            <div class="admin-list-scroll">
                ##LISTA_CANZONI##
            </div>
        </div>

        <div class="admin-column">
            <div class="column-header">
                <h3><img src="##BASE_URL##/img/icone/artista.png" alt="Artista"> Lista Artisti</h3>
            </div>
            
            <div class="admin-list-scroll">
                ##LISTA_ARTISTI##
            </div>
        </div>

    </div>

</section>