html,
body {
  background-color: rgb(222, 253, 230);
  margin: 0px;
  padding: 0px;
  height: 100%;
}

header {
  display: flex;
  background-color: green;
  border-radius: 10px;
  padding: 1em;
  align-items: center;
  margin: auto;
  margin-top: 1%;
  width: 70%;
}
header > :first-child {
  margin-right: auto;
  cursor: pointer;
}

header > :not(:first-child) {
  margin-right: 1em;
  cursor: pointer;
}

/* 

###############################################

MAIN

###############################################

*/

#barraricerca {
  margin-top: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2px;
  margin-top: 2%;
}
#barracanzone {
  width: 65%;
}
#cercacanzone {
  cursor: pointer;
}
#advancedfilter {
  cursor: pointer;
}
#piufamosi > h2 {
  display: flex;
  align-items: end;
  justify-content: end;
  margin-right: 2em;
}

#piusuonate > h2 {
  margin-left: 2em;
}

#potrebbepiacerti h2 {
  margin-left: 2em;
}

#potrebbepiacerti p {
  justify-content: center;
  align-items: center;
  display: flex;
  font-weight: 700;
  padding-bottom: 2em;
  font-size: xx-large;
}
/*
############################################


CAROUSELES


############################################
*/
.carousel-wrapper {
  position: relative;
  width: 100%;
}
.scroller {
  display: flex;

  padding-left: 12em;
  padding-right: 12em;
  padding-bottom: 2.3em;
  padding-top: 1.5em;
  scroll-behavior: smooth;
}
.cover-item {
  flex-shrink: 0;
  width: 11em;
  height: 11em;
  min-height: 11em;
  background-size: contain;
  background-repeat: no-repeat;
  margin-right: 2.5%;
  cursor: pointer;
}
.carrbutton {
  position: absolute;
  top: 30%;
  z-index: 10;
  cursor: pointer;
  width: 3em;
  height: 4.5em;
  border-radius: 18%;
  border-style: solid;
}

#carrbuttonl {
  left: 5em;
}

#carrbuttonr {
  right: 5em;
}

.separator {
  width: 100%;
  height: 2px;
  background: #000;
  margin: 5px 0;
}

#logo {
  width: 5%;
  height: 5%;
  border-radius: 1em;
  cursor: pointer;
}

footer {
  background-color: rgb(0, 102, 0);
}
