html,
body {
  background-color: #efffe9;
  margin: 0px;
  padding: 0px;
  height: 100%;
}

header {
  font-family: "Helvetica Neue", Arial, sans-serif;
  display: flex;
  background-color: #72b986;
  border-radius: 10px;
  padding: 1em;
  align-items: center;
  margin: auto;
  margin-top: 1%;
  width: 70%;
}
header > :first-child {
  margin-right: auto;
  cursor: pointer;
}

header > :not(:first-child) {
  margin-right: 1em;
  cursor: pointer;
}

/* 

###############################################

MAIN

###############################################

*/

#barraricerca {
  font-family: "Helvetica Neue", Arial, sans-serif;
  margin-top: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2px;
  margin-top: 2%;
}
#barracanzone {
  font-family: "Helvetica Neue", Arial, sans-serif;
  width: 65%;
}
#cercacanzone {
  font-family: "Helvetica Neue", Arial, sans-serif;
  cursor: pointer;
}
#advancedfilter {
  font-family: "Helvetica Neue", Arial, sans-serif;
  cursor: pointer;
}
#piufamosi > h2 {
  font-weight: 700;
  display: flex;
  align-items: end;
  justify-content: end;
  margin-right: 2em;
  font-family: "Helvetica Neue", Arial, sans-serif;
}

#piusuonate > h2 {
  font-weight: 700;
  margin-left: 2em;
  font-family: "Helvetica Neue", Arial, sans-serif;
}

#potrebbepiacerti h2 {
  font-weight: 700;
  margin-left: 2em;
  font-family: "Helvetica Neue", Arial, sans-serif;
}

#potrebbepiacerti p {
  font-family: "Helvetica Neue", Arial, sans-serif;
  justify-content: center;
  align-items: center;
  display: flex;
  font-weight: 700;
  padding-bottom: 2em;
  font-size: xx-large;
}
/*
############################################


CAROUSELES


############################################
*/
.carousel-wrapper {
  position: relative;
  width: 100%;
}
.scroller {
  display: flex;
  padding-left: 12em;
  padding-right: 12em;
  padding-bottom: 1.5em;
  scroll-behavior: smooth;
}
/*
.cover-item {
  flex-shrink: 0;
  width: 11em;
  height: 11em;
  min-height: 11em;
  background-size: contain;
  background-repeat: no-repeat;
  margin-right: 2.5%;
  cursor: pointer;
}*/
.carrbutton {
  position: absolute;
  top: 30%;
  z-index: 10;
  cursor: pointer;
  width: 3em;
  height: 4.5em;
  border-radius: 18%;
  border-style: solid;
  border-width: 0.1em;
}

#carrbuttonl {
  left: 5em;
}

#carrbuttonr {
  right: 5em;
}
/*
####################################################################


TARJETAS


####################################################################
*/

.spotify-card {
  display: flex;
  flex-direction: column;
  width: 11em;
  height: auto;
  padding-top: 2.5em;
  padding-left: 2.5em;
  padding-right: 2.5em;

  background-color: #efffe9;
  border-radius: 2em;
  transition: background-color 0.3s ease;
  font-family: "Helvetica Neue", Arial, sans-serif;
  cursor: pointer;
}

.spotify-card:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.card-image {
  width: 100%;
  height: 11em;
  aspect-ratio: 1/1;
  border-radius: 5%; /* Spotify usa bordes ligeramente redondeados */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Sombra suave para profundidad */
}

.card-text {
  text-align: left;
}
.song-title {
  margin-bottom: 0em;
}
.artist-name {
  opacity: 0.78;
  margin-top: 0.2em;
}

/*##########################################################

EXTRAS

#############################################################*/

.separator {
  width: 100%;
  height: 2px;
  background: #000;
}

#logo {
  width: 5%;
  height: 5%;
  border-radius: 1em;
  cursor: pointer;
}

footer {
  background-color: green;
}

*:focus-visible {
  /* Puedes usar el outline de nuevo, o border/box-shadow */
  outline: 3px solid red; /* Remarcado rojo y visible */
}
