<article class="song-list-item">
    
    <div class="song-info">
        <a href="/canzoni/##SLUG_CANZONE##" class="song-title" ##LANG_ATTR##>##TITOLO_CANZONE##</a>
        <span class="song-artist" ##LANG_ATTR##>##AUTORE_CANZONE##</span>
    </div>

    <div class="song-actions">
        <button class="btn-remove-song js-remove-song" 
                data-song-id="##ID_CANZONE##" 
                aria-label="Rimuovi canzone dalla playlist">
            
            <img src="/img/icone/remove.svg" alt="" class="icon-remove">
            
            <span>Rimuovi da playlist</span>
        </button>
    </div>

</article>