<li>
  <article class="card-canzone">
    <a href="/canzoni/##slug_canzone##" class="card-main-link" aria-label="Vai a ##titolo_canzone##"></a>
    <div class="card-content">
      <div class="music-icon" aria-hidden="true">♫</div>
      <h3 ##LANG_CANZONE##>##titolo_canzone##</h3>
      <p class="author-name">di <span ##LANG_ARTISTA##>##autore_canzone##</span></p>
      <div class="card-actions">
        <span class="btn-primary">Suona ora</span>
        <div class="secondary-action">
          ##PULSANTE_PREFERITI##
        </div>
      </div>
    </div>
  </article>
</li>