<div class="song-list-item">
    
    <div class="song-info">

        <a href="##BASE_URL##/canzoni/##SLUG_CANZONE##" class="song-title" ##LANG_CANZONE##>##TITOLO_CANZONE##</a>
        <span class="song-artist" ##LANG_ARTISTA##>##AUTORE_CANZONE##</span>

    </div>

    <div class="song-actions">
        <button class="btn-remove-song js-remove-song" 
                data-song-id="##ID_CANZONE##" 
                aria-label="Rimuovi canzone dalla playlist">
            
            <img src="##BASE_URL##/img/icone/remove.svg" alt="" class="icon-remove">
            
            <span>Rimuovi da playlist</span>
        </button>
    </div>

</div>